@use "../../assets/styles/utils" as *;

.pdf {
  width: 100%;
  padding: 2rem 5rem 0 5rem;

  &.disabled {
    display: none;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    > img {
      &:first-child {
        width: 20%;
      }

      &:nth-child(2) {
        width: 50%;
      }
    }

    > h3 {
      @include languify() {
        font-family: l(subtitle-font);
      }
    }
  }

  &__tickets {
    width: 90%;

    * {
      @include languify() {
        font: 400 0.75rem l(subtitle-font);
        line-height: 1.4rem;
      }
    }

    &__common {
      width: 100%;

      &__first-row {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
      }

      &__second-row,
      &__third-row {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        text-align: start;
      }
    }

    table {
      width: 100%;
      text-align: center;
    }
  }
}
