@use "../../assets/styles/utils" as *;

.theme-toggler {
  margin: 0;
  padding: 0;
  position: relative;
  justify-self: center;
  width: 1.7rem;
  height: 1.7rem;
  background-color: transparent;
  border: none;
  transition: all calc($transition-time / 2) ease-in-out;
  cursor: pointer;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity $transition-time cubic-bezier(0.2, 0.8, 0.2, 1) 0s,
      transform calc($transition-time * 2.5)
        cubic-bezier(0.175, 0.885, 0.32, 1.2) 0s;

    &.show {
      opacity: 1;
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }

    &.hide {
      opacity: 0;
    }
  }
}
