// background colors
$main-bg-color: rgb(27, 26, 25);
$bg-color-2: rgb(47, 43, 42);
$bg-color-3: rgb(80, 76, 74);
$bg-color-4: rgb(116, 104, 97);
$bg-color-5: rgb(163, 146, 136);

// font colors
$main-font-color: #fff;
$font-color-2: #999;
$font-color-3: #777;
$font-color-4: #666;
$font-color-5: rgb(77, 59, 47);

// others
$faded: #333