$navigation-font: "IBM Plex Sans Thai", sans-serif;
$title-font: "IBM Plex Sans Thai", sans-serif;
$subtitle-font: "Google Sans", Roboto, Arial, sans-serif;
$body-font: "Google Sans", Roboto, Arial, sans-serif;

$title-font-bal-ratio: -500;
