$navigation-font: "Inter", sans-serif;
$title-font: "Abril Fatface", cursive;
$subtitle-font: "Google Sans", Roboto, Arial, sans-serif;
$body-font: "Google Sans", Roboto, Arial, sans-serif;

$title-font-bal-ratio: 0;
