//? background colors
$main-bg-color: #fff;
$bg-color-2: rgb(255, 250, 243);
$bg-color-3: rgb(232, 221, 209);
$bg-color-4: rgb(191, 175, 154);
$bg-color-5: rgb(161, 152, 135);

//? font colors
$main-font-color: #000;
$font-color-2: #444;
$font-color-3: #666;
$font-color-4: #bbb;
$font-color-5: rgb(255, 218, 178);

// others
$faded: rgb(232, 232, 232);
